* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);

    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.section__tag {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.section__title {
    margin: 18px 0;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.3;
    color: #0d1111;
}

.section__desc {
    font-size: 1.8rem;
    color: #767e7e;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--height, 68px);
    min-width: var(--width, 186px);

    padding: 0 40px;
    border: 1px solid #1ebfc1;
    border-radius: 14px;

    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    background: #1ebfc1;

    box-shadow: 0px 10px 50px 0px #0000000d;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
    background: #ffffff;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header__logo {
    width: 127px;
    height: 37px;

    object-fit: cover;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-link,
.header__btn--signin {
    padding: 8px 20px;

    font-size: 1.6rem;
    color: #2f3a3b;
}

.header__action {
    margin-left: 157px;
}

.header__nav-link--active,
.header__nav-link:hover,
.header__btn--signin:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #152427;
}

.header__btn--signup {
    --height: 48px;
    --width: 108px;

    margin-left: 24px;
    padding: 0 23px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;

    font-size: 1.6rem;
    color: #1ebfc1;
    background: #ffffff;
}

/* Hero */
.hero {
    padding: 42px 0 79px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    width: 45%;
    padding: 93px 71px 0 0;
}

.hero__tag {
    font-weight: 400;
    font-size: 1.4rem;
    color: #767e7e;
}

.hero__title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
}

.hero__desc {
    margin: 46px 0;
    max-width: 374px;

    font-size: 1.8rem;
    line-height: 1.8;
    color: #9da6a5;
}

.hero__actions {
    margin-top: 6px;
}

.hero__btn {
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero__media {
    position: relative;
    width: 55%;
}

.hero__image {
    display: block;

    width: 576px;
    height: 631px;

    margin-left: auto;
    object-fit: cover;
}

.hero__card {
    background: #fefefd;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px #0000000d;
}

.hero__card--courses {
    position: absolute;
    left: 0;
    top: 149px;

    width: 157px;
    padding: 17px 25px;
    border-radius: 18px;
}

.hero__card-courses {
    display: flex;
    align-items: center;
}

.hero__card-icon {
    position: relative;
}

.hero__card-icon::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 4px;

    width: 28px;
    height: 4px;

    border-radius: 4px;
    background: #ffffff;
}

.hero__card-info {
    margin-left: 16px;
}

.hero__card-title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero__card--schedule {
    position: absolute;
    left: 0;
    bottom: 46px;

    width: 124px;
    padding: 16px 25px;
}

.hero__card-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__card-item {
    width: 100%;
    height: 6px;

    border-radius: 3px;
    background: #edf1f5;
    overflow: hidden;
}

.hero__card-fill {
    width: var(--w);
    height: 100%;

    border-radius: 3px;
    background: #fb9899;
}

.hero__card-bottom {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero__card--students {
    position: absolute;
    right: 45px;
    bottom: 41px;

    width: 207px;
    padding: 17px 35px;
}

.hero__card-avatar {
    display: flex;
    margin-top: 8px;
}

.hero__avatar {
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    object-fit: cover;
    font-weight: 500;
    font-size: 1rem;
    line-height: 33px;
    text-align: center;

    color: #ffffff;
    background: #1ebfc1;
}

.hero__avatar:first-child {
    margin-left: 0;
}

/* Features */
.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features__header {
    max-width: 591px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 40px;
    max-width: 1024px;
}

.features__item:nth-child(1) {
    max-width: 168px;
}

.features__item:nth-child(2),
.features__item:nth-child(3) {
    max-width: 223px;
}

.features__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 106px;
    border-radius: 18px;
    background: #ffc147;
}

.features__item:nth-of-type(2) .features__item-icon {
    background: #ff947a;
}

.features__item:nth-of-type(3) .features__item-icon {
    background: #bf83ff;
}

.features__item-title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.features__item-text {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #9da6a5;
}

/* Courses */
.courses {
    margin-top: 65px;
}

.courses__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
}

.courses__header-left {
    max-width: 525px;
}

.courses__desc {
    line-height: 1.8;
}

.courses__link {
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #1ebfc1;
}

.courses__list {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 47px;
}

.courses__item {
    position: relative;
    width: 100%;
    padding-bottom: 124px;
}

.courses__image {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    color: #d0efed;
    object-fit: cover;
    transition: 0.3s;
}

.courses__image:hover {
    opacity: 0.35;
    cursor: pointer;
}

.courses__content {
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 325px;
    padding: 18px 25px 35px 29px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 16px 90px 0px #0000000d;
}

.courses__item-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1;
    color: #0d1111;
}

.courses__fee {
    margin-top: 16px;
    color: #9da6a5;
}

.courses__price {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1;
    color: #2c2b4d;
}

.courses__item-desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1;
    color: #9da6a5;
}

.courses__meta {
    display: flex;
    gap: 26px;
    margin-top: 18px;
    margin-left: 16px;
    font-size: 1.4rem;
    line-height: 1;
    color: #9da6a5;
}

.courses__meta-item {
    list-style-type: disc;
}

.courses__meta-item::marker {
    color: #1ebfc1;
}

/* Stats */
.stats {
    margin-top: 65px;
    padding-top: 65px;
    text-align: center;
}

.stats__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    padding: 65px 0;
    gap: 200px;
}

.stats__number {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1;
    color: #0d1111;
}

.stats_label {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 1;
    color: #767e7e;
}

/* Testimonial */
.testimonial {
    padding-top: 130px;
}

.testimonial__inner {
    display: flex;
    justify-content: space-between;
}

.testimonial__content {
    width: 42%;
    padding: 37px 72px 37px 0;
}

.testimonial__icon {
    width: 36px;
    height: 29px;
    color: #070707;
}

.testimonial__quote {
    margin: 27px 0;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.testimonial__author {
    position: relative;
    padding: 6px 0;
    margin-left: 13px;
    font-weight: 500;
    line-height: 1;
    color: #5d6564;
}

.testimonial__author-name {
    color: #000000;
}

.testimonial__author-name::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13px;
    width: 8px;
    height: 2px;
    background: #070707;
    transform: translateY(-50%);
}

.testimonial__controls {
    display: flex;
    gap: 30px;
    margin-top: 46px;
}

.testimonial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #2ac9bf;
    border-radius: 50%;
    outline: none;
    color: #ffffff;
    background: #2ac9bf;
    transition: 0.25s;
}

.testimonial__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.testimonial__btn-next {
    rotate: 180deg;
}

.testimonial__media {
    position: relative;
    width: 58%;
}

.testimonial__avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial__avatar--main {
    top: 50%;
    left: 55%;
    width: 235px;
    height: 235px;
    transform: translate(-50%, -50%);
}

.testimonial__avatar--small {
    position: absolute;
    width: 78px;
    height: 78px;
}

.testimonial__avatar--medium {
    width: 110px;
    height: 110px;
}

.testimonial__avatar--medium-second {
    width: 92px;
    height: 92px;
}

.testimonial__avatar--left-bot {
    left: 0;
    bottom: 145px;
}

.testimonial__avatar--top-left {
    top: 0;
    left: 145px;
}

.testimonial__avatar--top-right {
    top: 19px;
    right: 0px;
}

.testimonial__avatar--bot-left {
    bottom: 0;
    left: 212px;
}

.testimonial__avatar--bot-right {
    bottom: 29px;
    right: 32px;
}

/* CTA  */
.cta {
    margin-top: 130px;
    background: #def6f5;
}

.cta__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta__inner {
    padding: 58px 0 88px 0;
}

.cta__btn {
    margin-right: 154px;
}

/* Footer */
.footer {
    padding-top: 80px;
    margin-top: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 144px;
}

.footer__groups {
    display: flex;
    column-gap: 144px;
}

.footer__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #2e2e2e;
}

.footer__list {
    margin-top: 25px;
}

.footer__item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer__link {
    line-height: 1;
    color: #535353;
}

.footer__icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    background: #ffffff;
}

.footer__copyright {
    margin-top: 30px;
    padding: 50px 0;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1;
    color: #b0b5b4;
}
