* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);

    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: var(--height, 68px);
    min-width: var(--width, 186px);

    padding: 0 40px;
    border: 1px solid #1ebfc1;
    border-radius: 14px;

    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    background: #1ebfc1;

    box-shadow: 0px 10px 50px 0px #0000000d;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
    background: #ffffff;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header__logo {
    width: 127px;
    height: 37px;

    object-fit: cover;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-link,
.header__btn--signin {
    padding: 8px 20px;

    font-size: 1.6rem;
    color: #2f3a3b;
}

.header__action {
    margin-left: 157px;
}

.header__nav-link--active,
.header__nav-link:hover,
.header__btn--signin:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #152427;
}

.header__btn--signup {
    --height: 48px;
    --width: 108px;

    margin-left: 24px;
    padding: 0 23px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;

    font-size: 1.6rem;
    color: #1ebfc1;
    background: #ffffff;
}

/* Hero */
.hero {
    padding: 42px 0 79px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    width: 45%;
    padding: 93px 71px 0 0;
}

.hero__tag {
    font-weight: 400;
    font-size: 1.4rem;
    color: #767e7e;
}

.hero__title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
}

.hero__desc {
    margin: 46px 0;
    max-width: 374px;

    font-size: 1.8rem;
    line-height: 1.8;
    color: #9da6a5;
}

.hero__actions {
    margin-top: 6px;
}

.hero__btn {
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero__media {
    position: relative;
    width: 55%;
}

.hero__image {
    display: block;

    width: 576px;
    height: 631px;

    margin-left: auto;
    object-fit: cover;
}

.hero__card {
    background: #fefefd;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px #0000000d;
}

.hero__card--courses {
    position: absolute;
    left: 0;
    top: 149px;

    width: 157px;
    padding: 17px 25px;
    border-radius: 18px;
}

.hero__card-courses {
    display: flex;
    align-items: center;
}

.hero__card-icon {
    position: relative;
}

.hero__card-icon::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 4px;

    width: 28px;
    height: 4px;

    border-radius: 4px;
    background: #ffffff;
}

.hero__card-info {
    margin-left: 16px;
}

.hero__card-title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero__card--schedule {
    position: absolute;
    left: 0;
    bottom: 46px;

    width: 124px;
    padding: 16px 25px;
}

.hero__card-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__card-item {
    width: 100%;
    height: 6px;

    border-radius: 3px;
    background: #edf1f5;
    overflow: hidden;
}

.hero__card-fill {
    width: var(--w);
    height: 100%;

    border-radius: 3px;
    background: #fb9899;
}

.hero__card-bottom {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero__card--students {
    position: absolute;
    right: 45px;
    bottom: 41px;

    width: 207px;
    padding: 17px 35px;
}

.hero__card-avatar {
    display: flex;
    margin-top: 8px;
}

.hero__avatar {
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    object-fit: cover;
    font-weight: 500;
    font-size: 1rem;
    line-height: 33px;
    text-align: center;

    color: #ffffff;
    background: #1ebfc1;
}

.hero__avatar:first-child {
    margin-left: 0;
}
